:root {
  --generic-button-color: #31313b;
}

html {
  height: 100%;
}

* {
  font-size: 1rem;
}

body {
  background-color: #0f1116;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100%;
}

button {
  border-radius: 20%;
  border: none;
  background: var(--generic-button-color);
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}

.playlist-panel {
  height: 100%;
  flex-basis: auto;
  width: 30%;
  min-width: 300px;
  max-width: 600px;
  border-right: 1px gray solid;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.playlist-panel-buttons {
  height: 40px;
  border-bottom: 1px solid gray;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.playlist-panel-buttons button {
  aspect-ratio: 1;
  height: 90%;
}

.playlist-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 10px;
  padding-right: 10px;
  gap: 7px;
  overflow-y: auto;
}

.playlist-button {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  height: 80px;
  background: #31313b;
  border-radius: 0 20px 20px 0;
  align-items: center;
}

.playlist-button.playlist-selected {
  background: #41414b;
}

.playlist-button.playlist-invalid {
  border: 1px solid #FFA500;
  border-left: none;
}

.invalid-playlist-icon {
  margin-right: 10px;
  height: 50%;
  aspect-ratio: 1;
}

.song-panel {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px;
  padding-right: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.song-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  height: 60px;
  width: 100%;
  background: var(--generic-button-color);
  border-radius: 20px 0 0 20px;
}

.song-component-left {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.song-play-button {
  height: 30px;
  aspect-ratio: 1;
  padding: 0;
}

.song-icon {
  height: 100%;
  width: auto;
  margin: auto;
}

.song-component-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

.song-kebab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 30px;
  background: transparent;
  border-radius: 0;
  padding: 0;
}

.kebab-icon {
  height: 100%;
  width: auto;
}

footer.bottom-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 115px;
  border-top: 1px gray solid;
  padding: 10px 10px 0 10px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  flex-grow: 1;
  /* align-items: stretch; */
}

.song-display {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-display p {
  margin: 0;
  height: 25px;
}

#seek-bar {
  display: flex;
  justify-content: center;
}

#seek-bar input {
  margin: 0;
  width: 100%;
}

.controls-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.controls-center button {
  width: 50px;
  height: 50px;
}

.controls-right {
  display: flex;
  align-items: center;
}
